appdirs==1.4.4
astroid==2.5.2
attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
distlib==0.3.1
docutils==0.16
filelock==3.0.12
idna==2.10
iniconfig==1.1.1
isort==5.8.0
Kivy==2.0.0
Kivy-examples==2.0.0
Kivy-Garden==0.1.4
lazy-object-proxy==1.6.0
mccabe==0.6.1
packaging==20.9
peewee==3.14.4
Pillow==8.1.2
pluggy==0.13.1
py==1.10.0
pycodestyle==2.7.0
Pygments==2.8.1
pyparsing==2.4.7
requests==2.25.1
six==1.15.0
toml==0.10.2
urllib3==1.26.4
virtualenv==20.4.3
wrapt==1.12.1

plyer~=2.0.0
fpdf~=1.7.2